.banner-services-container {
    padding: 140px 0px 20px 0px;
    position: relative;
}

.banner-services-container h3 {
    text-align: start;
    font-size: 26px;
}

.img-banner {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.label-service {
    color: var(--primaryColor)
}

.background-video-container {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
    z-index: 0;
    direction: ltr;
}

.banner-background-video-hosted {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.background-overlay {
    background-image: linear-gradient(to right, var(--e-global-color-primary) 0%, #00000000 45%);
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.img-event-1 {
    z-index: 1;
    bottom: 0;
    right: 0px;
    position: absolute;
}

.img-event-banner {
    width: 500px;
}

.heading-banner {
    text-align: justify;
    width: 100%;
}

.banner-services-container .services-banner {
    display: flex;
}

.services-list {
    margin-left: 30px;
    margin-right: 80px;
    list-style-type: disc;
}

.commitment-list {
    margin-left: 8px;
    margin-right: 0;
    list-style-type: none;
}

.services-list li::marker {
    color: var(--primaryColor)
}

.banner-services-container-info {
    min-height: 648px;
}

.banner-info {
    width: 60%;
}

.info-item {
    padding-bottom: 28px;
}

.banner-services {
    display: flex;
    justify-content: space-between;
}

.icon-check {
    color: #59d600;
    background-color: #ffffff;
    border-radius: 50%;
    margin-right: 8px;
}

.elementor-widget-wrap {
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
}

.elementor-section-banner {
    color: #ffffff;
}

.wdt-heading-holder {
    text-align: start;
    justify-content: start;
    justify-items: start;
    position: relative;
}

.wdt-heading-holder > .wdt-heading-deco-wrapper > span {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    white-space: break-spaces;
}

.wdt-heading-subtitle-wrapper {
    font-size: var(--wdtFontSize_Base);
    font-weight: var(--wdtFontWeight_Base);
    letter-spacing: var(--wdtLetterSpacing_3X);
    text-transform: uppercase;
    margin-bottom: 13px;
}

.wdt-heading-holder .wdt-heading-title-wrapper {
    line-height: 1.2;
    margin-top: 0;
    text-transform: capitalize;
}

.wdt-heading-content-wrapper {
    max-width: 560px;
}

.banner-services-container .elementor-widget-container {
    padding-right: 20px;
    display: inline-block;
    text-align: center;
}

.wdt-button-holder {
    display: inline-flex;
    position: relative;
    -webkit-transition: var(--wdt-elementor-base-transition);
    transition: var(--wdt-elementor-base-transition);
}

.wdt-button-holder .wdt-button {
    color: var(--e-global-color-primary);
    background-color: var(--primaryColor);
    font-size: clamp(0.875rem, 0.8462rem + 0.1282vw, 1rem);
    padding: var(--wdtPadding_Btn);
    font-weight: var(--wdtFontWeight_Base);
    text-transform: capitalize;
    line-height: normal;
    border: 1px solid transparent;
    display: inline-flex;
    align-items: stretch;
    letter-spacing: 0;
    margin: 0;
    overflow: visible;
    position: relative;
    z-index: 0;
    text-decoration: none;
    -webkit-transition: var(--wdt-elementor-base-transition);
    transition: var(--wdt-elementor-base-transition);
    border-radius: var(--wdtRadius_Part);
}

.wdt-button-holder .button-white {
    background-color: #ffffff;
}

.banner-services-container .wdt-content-item {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
    padding-top: 32px;
    text-align: start;
    justify-content: start;
    justify-items: start;
}

.banner-services-container .wdt-content-item .wdt-content-image > span > img {
    width: 130px;
}

.wdt-rating-container {
    margin-bottom: 5px;
}

.banner-services-container .wdt-content-item .wdt-rating {
    display: inline-flex;
    list-style: none;
    margin: 0 -2px;
    padding: 0;
    vertical-align: top;
}

.sale-info {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1279px) {
    .banner-services-container-info {
        min-height: 430px;
        padding-bottom: 225px;
    }

    .banner-services-container {
        padding: 0 0 20px;
    }

    .background-overlay {
        background-image: linear-gradient(to right, var(--e-global-color-primary) -20%, #00000000 100%)
    }

    .banner-services-container .wdt-heading-holder {
        text-align: start;
        justify-items: start;
    }

    .banner-services-container .services-banner {
        display: block;
        margin: 0;
        padding: 0;
    }

    .voucher {
        display: none;
    }

    .banner-services {
        flex-direction: column;
    }

    .services-list {
        margin-right: 0;
    }

    .banner-info {
        width: 100%;
        padding: 0;
    }

    .banner-non-info {
        display: none;
    }

    .wdt-heading-holder {
        text-align: center;
        justify-content: center;
        justify-items: center;
    }

    .wdt-heading-holder h1 {
        text-align: start;
    }

    .wdt-heading-content-wrapper {
        max-width: 100%;
        text-align: center;
    }

    .click-now, .review-overview {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        position: relative;
    }
}