.our-list-service {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 120px 0px 50px 0px;
    position: relative;
    color: #434343;
    background-color: #f9f9f9;
}

.our-services-container {
    width: 100%;
}

.our-services-container > .intro {
    display: flex;
    position: relative;
    padding-bottom: 60px;
}

.our-services-container h2, .our-services-container h5 {
    color: var(--e-global-color-primary);
}

.description-service {
    margin-left: 80px;
}

.swiper-slide .wdt-content-item {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.service-items {
    padding: 30px;
    max-width: 1680px;
    margin: 0 auto;
}

.slide-image-item {
    margin-bottom: 30px;
    border-radius: 24px;
    overflow: hidden;
    position: relative;
}

.slide-image-item .wdt-media-image-cover-container {
    position: absolute;
}

.list-sub-service {
    list-style-type: disc;
    margin-left: 20px;
}

.list-sub-service li::marker {
    color: #2481d1;
}

.item-service {
    margin-bottom: 8px;
}

.service-items .wdt-content-title {
    margin-bottom: 20px;
    min-height: 42px;
}

.our-list-service .button-price {
    color: #ffffff;
    background-color: var(--e-global-color-primary);
}

.list-item-service {
    display: grid;
    grid-template-columns: repeat(4, 1fr);;
    gap: 30px
}

.list-item-service h3 {
    margin-bottom: 5px;
}

@media (max-width: 1279px) {
    .our-list-service {
        padding: 50px 0px;
    }

    .our-services-container > .intro {
        flex-direction: column;
        padding-bottom: 30px;
    }

    .our-list-service .wdt-button-holder .wdt-button {
        width: 120px;
    }

    .intro-service {
        padding-bottom: 20px;
        max-width: 100%;
    }

    .description-service {
        margin-left: 0;
    }
}

@media (max-width: 1023px) {
    .list-item-service {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .service-items {
        padding: 0 30px 30px;
    }

    /*.service-item-line {*/
    /*    margin-top: 20px;*/
    /*    height: 3px;*/
    /*    width: 100%;*/
    /*    background-color: var(--primaryColor);*/
    /*}*/

    .swiper-slide .wdt-content-item {
        margin: 0;
    }

    .slide-image-item {
        margin: 16px 0;
        border-radius: 50%;
        border: 4px solid #2481d1;
    }

    .list-item-service .wdt-content-detail-group {
        text-align: center;
    }

}