.footer {
    background-color: #222222;
}

.footer-col {
    width: 25%;
    margin-right: 20px;
}

.logo {
    margin-left: -15px;
    height: 150px;
}

.footer-container {
    padding: 120px 30px 0px 30px;
    max-width: 1680px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    color: #ffffff;
}

.footer h3 {
    font-size: 24px;
}

.item-info {
    margin-bottom: 12px;
    word-wrap: break-word;
}

.qr-zalo {
    height: 200px;
}

.bar {
    width: 8px;
    background-color: #2481d1;
    margin-right: 8px;
}

.phone {
    color: var(--primaryColor);
    font-size: 26px;
}

.label {
    color: #2481d1;
}

.button-footer {
    font-size: 30px;
    font-weight: 600;
}

.cs-label {
    font-weight: 600;
    color: #2481d1;
}

.footer .wdt-button {
    color: var(--e-global-color-primary);
    background-color: var(--primaryColor);
    font-size: clamp(0.875rem, 0.8462rem + 0.1282vw, 1rem);
    padding: var(--wdtPadding_Btn);
    font-weight: var(--wdtFontWeight_Base);
    text-transform: capitalize;
    line-height: normal;
    border: 1px solid transparent;
    display: inline-flex;
    align-items: stretch;
    letter-spacing: 0;
    margin: 0;
    overflow: visible;
    position: relative;
    z-index: 0;
    text-decoration: none;
    -webkit-transition: var(--wdt-elementor-base-transition);
    transition: var(--wdt-elementor-base-transition);
    border-radius: var(--wdtRadius_Part);
}

@media (max-width: 1279px) {
    .footer-container {
        padding: 30px;
    }

    .footer-col {
        width: 100%;
        margin-right: 0px;
    }

    .logo-footer {
        display: flex;
        justify-content: center;
    }

    .summary {
        margin-bottom: 30px;
    }
}